/** {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*/
.app{
  background: url('./images/cold.jpg') no-repeat center center fixed;
  /* background-image: url('./images/cold.jpg'); */
  background-size: cover;
  min-height: 100vh;
  transition: background-color 0.5s ease;
  position: relative;
}

.search-box{
  position: absolute;
}

.warm{
  background: url('./images/warm.jpg') no-repeat center center fixed;
}

<<<<<<< HEAD
=======
.search-box{
  margin: auto;
  width: 90%;
  background-color: rgb(255, 0, 0); /*temporary color to see how to edit*/
}

.search-bar {
  display: block;
  width: 90%;
  padding: 1em;
  margin: auto;
}
>>>>>>> c50b299bd663158674bee1966644d914385fd860
