* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app{
  background: url('./images/cold.jpg');
  /* background-image: url('./images/cold.jpg'); */
  background-size: cover;
  background-position: bottom;
  transition: background-color 0.5s ease;
}

.warm{
  background: url('./images/warm.jpg');
}

main {
  min-height: 100vh;
  background-image: linear-gradient(to bottom);
}

.search-box{
  position: absolute;
  margin: auto;
  width: 100%;
  background-color: rgb(255, 0, 0); /*temporary color to see how to edit*/
}

.search-bar {
  display: block;
  width: 90%;
  padding: 1em;
  margin: auto;
  border-radius: 15px;
}