* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {

}

.app{
  background: url('./images/cold.jpg');
  background-size: cover;
  background-position: bottom;
  transition: 0.5s ease;
}

.app.warm{
  background: url('./images/warm.jpg');
}

main {
  min-height: 100vh;
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.1), rgba(0,0,0,0.5));
  padding: 25px;
}

.search-box{
  width: 100%;
  top: 25px;
  background-color: rgba(0, 0, 0, 0); /*temporary color to see how to edit*/
}

.search-bar {
  border: none;
  background-color: rgba(255, 255, 255, 0.5);
  display: block;
  width: 95%;
  padding: 1em;
  margin: auto;
  border-radius: 15px;
  box-shadow: 0px 4px rgba(0, 0, 0, 0.2);
  line-height: 20px;
  transition: 
}

.location-box {
  margin-top: 40px;
  padding: auto;
}

.location {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
  font-size: 35px;
  color:rgba(255,255,255,1);
}

.date{
  margin-top: 20px;
  font-style: italic;
  font-size: 25px;
}

.temp{
  color:rgba(255,255,255,1);
  font-weight: bold;
  margin-top: 25px;
  font-size: 23px;
}